body {
  font-family: 'Cabin', sans-serif; // fuente general
}

.lobster {
  font-family: 'Lobster', cursive; // fuente Lobster
}

.navbar-brand {
  font-size: 37pt; // tamaño fuente logo
}

#myCarousel-indicators li {
  border-radius: 50%; // indicadores carousel
}

#recetas {
  font-size: 16pt; // tamaño fuente recetas
}
